{
    "singleQuote": true,
    "semi": false,
  "overrides": [
    {
      "files": "1-node-farm/starter/dev-data/*.json",
      "options": {
        "semi": true
      }
    },
    {
      "files": ["*.html", "legacy/**/*.js", "*.json"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}