<tr>
  <td class="column1">
    <a href="/product?id={%PARKINGID%}" class="row-link">{%PARKINGID%}</a>
  </td>
  <td class="column2">
    <a href="/product?id={%PARKINGID%}" class="row-link">{%PARKINGBUILDING%}</a>
  </td>
  <td class="column3">
    <a href="/product?id={%PARKINGID%}" class="row-link">{%PARKINGLOCATION%}</a>
  </td>
  <td class="column4">
    <a href="/product?id={%PARKINGID%}" class="row-link">{%PARKINGSTART%}</a>
  </td>
  <td class="column4">
    <a href="/product?id={%PARKINGID%}" class="row-link">{%PARKINGEND%}</a>
  </td>
  <td class="column5">
    <a href="/product?id={%PARKINGID%}" class="row-link">{%PARKINGPRICE%}</a>
  </td>
  <td class="column5">
    <a href="/product?id={%PARKINGID%}" class="row-link">{%PARKINGSTATUS%}</a>
  </td>
  <td class="column4">
    <a href="/product?id={%PARKINGID%}">
      <button class="reservebtn">Reserve Slot</button>
    </a>
  </td>
</tr>
