  <tr>
    <td class="column1">{%PARKINGID%}</a></td>
    <td class="column3">{%PARKINGBUILDING%}</a></td>
    <td class="column2">{%PARKINGLOCATION%}</a></td>
    <td class="column4">{%PARKINGSTART%}</a></td>
    <td class="column4">{%PARKINGEND%}</a></td>
    <td class="column5">{%PARKINGPRICE%}</a></td>
    <td class="column5">{%PARKINGSTATUS%}</a></td>
    <td class="column4"><a href="/product?id={%PARKINGID%}">
      <button class="reservebtn">
         Reserve Slot
      </button>
   </a></td>
  </tr>


